body {
    display: flex;
    justify-content: center;
    background-color: #271d45;
    font-family: 'PT Sans', sans-serif;
    text-align: center;
    color: #eee;
}

h2 {
    margin: 15px;
    font-size: 1.25rem;
    font-weight: bold;
    font-style: italic;
}

h3 {
    margin: 0;
    font-size: 1rem;
}

h4 {
    margin: 10px 0;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #312457;
    margin: 20px;
    border-radius: 25px;
    padding: 20px;
}

#title {
    font-size: 1.5rem;
}

#results {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    opacity: 1;
    transition: opacity 1s;
}

#details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#roll {
    margin-top: 10px;
    border: none;
    border-radius: 15px;
    width: 100px;
    height: 30px;
    padding: 5px;
    background-color: #19072d;
    font-weight: bold;
    color: #eee;
}

#pokemon-card-image {
    height: 242px;
}

#pokemon-portrait {
    margin: 0;
    border: solid #19072d 3px;
    border-radius: 12px;
    width: 207px;
    height: 238px;
    background: url('data:image/svg+xml,<svg viewBox="0 0 140 140" xmlns="http://www.w3.org/2000/svg"><path d="M0 70h70v70H0zM70 0h70v70H70z" opacity=".1"/></svg>');
    background-repeat: repeat;
    background-size: 50%;
}

.active-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    width: 215px;
    height: 300px;
    background-color: #19072d;
    font-size: 1rem;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    border-radius: 15px;
    width: 100px;
    height: 100px;
    background-color: #45337b;
}

.small-img {
    width: 75px;
    height: 75px;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    top: 105%;
    left: 50%;
    opacity: 0;
    margin-left: -60px;
    border-radius: 3px;
    width: 120px;
    padding: 5px;
    background-color: black;
    pointer-events: none;
    text-align: center;
    color: #eee;
    transition: opacity 0.5s;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip:hover {
    cursor: help;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 0.8;
}

.fade {
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (min-width: 750px) {
    #content {
        height: 500px;
    }

    #title {
        font-size: 2rem;
    }

    #results {
        flex-direction: row;
        width: 650px;
        height: 350px;
    }
}